html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#logoName{
    font-family:Dubai;
}
body {
    background: linear-gradient( to right, rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.781) ), url("../background.jpg");
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    overflow: hidden;
}
.img{
    width:5%;
    height :5%;
}